*{margin:0; padding:0;}
.swiper-container { width:100%; height:100%;}
.swiper-slide {text-align: center; font-size: 18px; background: #fff;
			  /* Center slide text vertically */
			  display: -webkit-box;
			  display: -ms-flexbox;
			  display: -webkit-flex;
			  display: flex;
			  -webkit-box-pack: center;
			  -ms-flex-pack: center;
			  -webkit-justify-content: center;
			  justify-content: center;
			  -webkit-box-align: center;
			  -ms-flex-align: center;
			  -webkit-align-items: center;
			  align-items: center; }
.swiper-slide img{width:100%;}


/*이동버튼 영역*/
.swiper-button-next:after,
.swiper-button-prev:after{display:none;}/*소스에 들어있는 버튼 삭제*/

.swiper-button-next,
.swiper-button-prev{width:100%; height: 44px;}/*버튼 크기*/


.swiper-button-prev{left:10px; background:url(../images/prev.png); padding-right: 16px;}/*버튼 위치, 버튼 이미지*/
.swiper-button-next{right:10px; background:url(../images/next.png); padding-left: 16px;}/*버튼 위치, 버튼 이미지*/
.swiper-button-prev:hover{background:url(../images/prev.png);}/*버튼 호버 이미지*/
.swiper-button-next:hover{background:url(../images/next.png);}/*버튼 호버 이미지*/

/*블릿버튼 영역*/
.swiper-pagination-bullet{background:rgba(185, 185, 185); width:10px; height:10px; opacity:0.5;}
.swiper-pagination-bullet-active{opacity:0.5;}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{bottom:10px;}